<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container-fluid">
        <span class="navbar-brand" href="#">
            <img src="/logo.png" style="display: inline-block;" class="navbar-logo">

        </span>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item {{#if home}}active{{/if}}">
                    <a class="nav-link " href="../home"><i class="bi bi-house"></i> Home <span
                            class="sr-only">(current)</span></a>
                </li>
            </ul>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item {{#if list}}active{{/if}}">
                    <a class="nav-link " href="../list"><i class="bi bi-body-text"></i> List <span
                            class="sr-only">(current)</span></a>
                </li>
            </ul>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item {{#if crud}}active{{/if}}">
                    <a class="nav-link " href="../crud"><i class="bi bi-arrow-down-up"></i> Crud <span
                            class="sr-only">(current)</span></a>
                </li>
            </ul>
             <ul class="navbar-nav mr-auto">
                <li class="nav-item {{#if upload}}active{{/if}}">
                    <a class="nav-link " href="../upload"><i class="bi bi-arrow-down-up"></i> Upload Files <span
                            class="sr-only">(current)</span></a>
                </li>
            </ul>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item {{#if contact}}active{{/if}}">
                    <a class="nav-link " href="../contact"><i class="bi bi-envelope"></i> Contact <span
                            class="sr-only">(current)</span></a>
                </li>
            </ul>

            <ul class="navbar-nav ms-auto">
                <li class="nav-item {{#if login}}active{{/if}}">
                    {{#auth}}

                    {{/auth}}
                </li>
            </ul>
        </div>
    </div>
</nav>