<!DOCTYPE html>
<html>

<head>
    {{> header }}
    <title>Menu</title>
</head>
{{> navbar }}

<body>
    <div class="content" style="margin-top:30vh">
        <center><button type="button" class="btn btn-primary fadeIn fourth" style="background-color: #901010 ;"><a
                    class="nav-link" href="../login" style="color:white!important"> <i class="bi bi-person-circle "
                        style="font-size: 3rem; color: white;"></i>
                    Please login to access the list</a></button></center>
    </div>
</body>